.player, .inimigo {
    width: 100px;
    height: 100px;
    position: absolute;
}

.player {
    background: blue;
    left: 100px;
    transition: 0.2s;
}

.inimigo {
    background: red;
    left: 500px;
}