body{
    display: flex;
    background-color: blanchedalmond;
}

.player, .inimigo {
    
    position: absolute;
}

.player {
    background: blue;
    width: 100px;
    height: 100px;
    left: 100px;
    transition: 0.2s;
}

.inimigo {
    background: red;
    width: 500px;
    height: 500px;
    top: 420px;
    left: 1400px;
}